# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Dependencies
node_modules
npm-debug.log

# Environment variables
.env
.env.*
!.env.example

# Development / Documentation
README.md
PROGRESS.md 